.button_default {
	-webkit-appearance: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	width: 1em;
	height: 1.1em;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	box-shadow: none;
	border-width: 0;
}

.button_0 {
	color: blue;
}

.button_1 {
	color: red;
}

.table_border td {
	border: 1px solid black;
}

.waiting_for_opponent_default {
	font-weight: bold;
	color: blue;
	position: absolute;
	top: 100%;
	text-align: center;
	z-index: 100;
	visibility: hidden;
}

.waiting_for_opponent_visible {
	visibility: visible;
}

.score_container_0 {
	font-weight: bold;
	color: blue;
	border: 2px solid transparent;
}

.score_container_1 {
	font-weight: bold;
	color: red;
	border: 2px solid transparent;
}

.highlight_turn {
	border: 2px solid gray;
}

.highlight_line_point {
	background-color: lightgreen;
}

.video_container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 300px;
	height: 300px;
}

.video {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.no_media_container {
	top: 0%;
	left: 0%;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.no_media_container_image_container {
	width: 300px;
	height: 300px;
	display: table-cell;
	vertical-align: middle
}

.no_media_image {
}

.new_game {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	height: 50px;
	width: 100%;
	/*vertical-align: middle;*/
	background-color: green;
	color: white;
	box-shadow: none;
	border: 1px solid green;
	padding: 5px;
}
