.button_default {
	-webkit-appearance: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	width: 1em;
	height: 1.1em;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	box-shadow: none;
	border-width: 0;
}

.button_0 {
	-webkit-appearance: none;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	width: 1em;
	height: 1.1em;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	box-shadow: none;
	border-width: 0;
}

.button_1 {
	-webkit-appearance: none;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	width: 1em;
	height: 1.1em;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	box-shadow: none;
	border-width: 0;
}

.table_border td {
	border: 1px solid black;
}

.waiting_for_opponent {
	font-weight: bold;
	color: blue;
	position: absolute;
	top: 100px;
	text-align: center;
}

.video_container {
	position: relative;
}

.score_container_0 {
	font-weight: bold;
	color: blue;
	border: 2px solid transparent;
}

.score_container_1 {
	font-weight: bold;
	color: red;
	border: 2px solid transparent;
}

.highlight_turn {
	border: 2px solid gray;
}
